---
layout: page
title: "About"
description: "化繁为简"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        道路漫长，迷茫的时候，不要忘记我们为什么出发。我们的目的是改变世界，而不是学习编程或炫耀技术<br>
    </blockquote>
     
    <p>我是王斌，是个运维开发攻城狮</p>
    <p>日常会记录下运维开发中的点滴，详细请戳<a href="https://billwang139967.gitbooks.io/op_practice_book/content/">《运维实践指南》</a></p>
    <p>关注领域包括 Docker，云计算，云存储、缓存等领域</p>
    <p>欢迎和来自各方的朋友讨论技术问题</p>

<h5 id="talks">Talks</h5>

<ul>
  <li><a href="https://raw.githubusercontent.com/meetbill/meetbill.github.io/master/file/zabbix_shanghai_2017.pdf">Zabbix 的快速配置及报表展现</a> · <a href="https://www.zabbix.com/conference_china_2017"> Zabbix conference 上海 2017</a></li>
  <li><a href="https://raw.githubusercontent.com/meetbill/meetbill.github.io/master/file/openstack_2017.pptx">OpenStack 基础</a></li>
</ul>



</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Bill
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
